.App {
  text-align: center;
}

html {
  font-size: 20px;
  scroll-behavior: smooth;
}

@media (min-width: 375px) {
  html {
  font-size: 16px;
  scroll-behavior: smooth;
}
    .Toastify__toast-container {
    width: 100vw !important;
}
    .Toastify__toast{
    margin-bottom: 0.5rem !important;
}
}

@media (min-width: 475px) {
  html {
  font-size: 20px;
  scroll-behavior: smooth;
}
 .Toastify__toast-container {
    width: 20rem !important;
}
}